@font-face {
  font-family: 'iconfont';  /* project id 446616 */
  src: url('//at.alicdn.com/t/font_446616_phiyg65pv6.eot');
  src: url('//at.alicdn.com/t/font_446616_phiyg65pv6.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_446616_phiyg65pv6.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_446616_phiyg65pv6.woff') format('woff'),
  url('//at.alicdn.com/t/font_446616_phiyg65pv6.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_446616_phiyg65pv6.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 40rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: dodgerblue;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-order:before {
  content: "\e626";
}

.icon-sousuo01:before {
  content: "\e61e";
}

.icon-dizhi:before {
  content: "\e64e";
}

.icon-1:before {
  content: "\e622";
}

.icon-iconset0203:before {
  content: "\e667";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-yonghu:before {
  content: "\e604";
}

.icon-dingdan:before {
  content: "\e634";
}

.icon-qiandai:before {
  content: "\e665";
}

.icon-yonghuming:before {
  content: "\e62c";
}

.icon-qianbao:before {
  content: "\e625";
}

.icon-tixian:before {
  content: "\e619";
}

.icon-dingdan1:before {
  content: "\e62a";
}

.icon-shourumingxi:before {
  content: "\e629";
}

.icon-jilu:before {
  content: "\e65d";
}

.icon-wodezhangdan:before {
  content: "\e73d";
}

.icon-icon-test1:before {
  content: "\e627";
}

.icon-yly_qianzhuang:before {
  content: "\e61d";
}

.icon-xiaoxi:before {
  content: "\e617";
}

.icon-liwu:before {
  content: "\e613";
}

.icon-dingdan2:before {
  content: "\e621";
}

.icon-icon-test:before {
  content: "\e601";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-dingdan3:before {
  content: "\e608";
}

.icon-tongji:before {
  content: "\e660";
}

.icon-shouyi:before {
  content: "\e6b6";
}

.icon-tool:before {
  content: "\e66b";
}

.icon-zhangdan:before {
  content: "\e61b";
}

.icon-tixian1:before {
  content: "\e67c";
}

.icon-yonghu1:before {
  content: "\e618";
}

.icon-shouyi1:before {
  content: "\e602";
}

.icon-xianxing_qiandai:before {
  content: "\e628";
}

.icon-income-o:before {
  content: "\e62b";
}

.icon-qian:before {
  content: "\e607";
}

.icon-jiludanzilishijilu:before {
  content: "\e61c";
}

.icon-jilu1:before {
  content: "\e62d";
}

.icon-cs-qd-1:before {
  content: "\e635";
}

.icon-yonghu2:before {
  content: "\e616";
}

.icon-huobiqiandaizijin:before {
  content: "\e666";
}

.icon-shezhi:before {
  content: "\e610";
}

.icon-tongji1:before {
  content: "\e856";
}

.icon-shezhi1:before {
  content: "\e827";
}

.icon-qiandai1:before {
  content: "\e61f";
}

.icon-renminbiqian:before {
  content: "\e624";
}

.icon-yonghu3:before {
  content: "\e64f";
}

.icon-zhangdan1:before {
  content: "\e615";
}

.icon-yonghu4:before {
  content: "\e705";
}

.icon-yonghu5:before {
  content: "\e650";
}

.icon-yonghuming1:before {
  content: "\e612";
}

.icon-zongshouru:before {
  content: "\e614";
}

.icon-dingdan4:before {
  content: "\e603";
}

.icon-ziyuanxhdpi:before {
  content: "\e648";
}



.allCount{
  color:lightsalmon;
}
.monMoney{
  color:rgb(7, 148, 7);
}
.monCount{
  color:mediumturquoise;
}
.dayMoney{
  color:thistle;
}
.money {
    height: 200rpx;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }