@font-face {
  font-family: 'iconfont';  /* project id 1200881 */
  src: url('//at.alicdn.com/t/font_1200881_04gblkuxi8yu.eot');
  src: url('//at.alicdn.com/t/font_1200881_04gblkuxi8yu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1200881_04gblkuxi8yu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1200881_04gblkuxi8yu.woff') format('woff'),
  url('//at.alicdn.com/t/font_1200881_04gblkuxi8yu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1200881_04gblkuxi8yu.svg#iconfont') format('svg');
}
.iconfont1 {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-youhuijuan:before {
  content: "\e96a";
}
.icon-dayinji1:before {
  content: "\e602";
}
.icon-dayinji:before {
  content: "\e601";
}
.icon-tupian2:before {
  content: "\e649";
}
.icon-xiangce:before {
  content: "\e7f1";
}

.icon-xiangce1:before {
  content: "\e6ab";
}

.icon-weixin:before {
  content: "\e635";
}

/* .icon-saoma:before {
  content: "\e605";
} */

.icon-wps:before {
  content: "\e603";
}
.icon-wenjianshangchuan_zhengse:before {
  content: "\ea65";
}
